@CHARSET "UTF-8";
#EsriMapPanel{
	height:100%;
	padding:0;
	margin:0;
}
#EmALL{
	height:100%;width:100%;
	padding:0;
	margin:0;
}
#EM{
	position:absolute;
	height:100%;width:100%;
	padding:0; margin:0;
}

#EMAddr{
	position:absolute;
	top:10px;left:100px;
	width:500px;
	z-index:1;
}