@CHARSET "UTF-8";
html,body, #MainFrame{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#TopPanel{
	margin:0;
	padding:0;
}
#CenterPanel{
	width:100%; height:100%;
}
#BottomPanel{
	margin:0; padding:0;
}
#WaitingPanel{
	position:absolute;
	z-index:0;
	margin:0; padding:0;
	width:100%; height:100%;
	border: 1px solid black;
	top:0px;
}
#TabC{
	margin:0;padding:0;
	height:99.9%;
	width:99.9%;
}